# Python
__pycache__/
*.py[cod]

# Virtual Environments
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
.DS_Store

# ML / Models
*.pt
*.pth
*.ckpt
*.onnx

# Data
data/
datasets/
*.zip
*.tar
*.tar.gz

# Outputs
runs/
logs/
checkpoints/
outputs/

# Secrets
.env
